<script src="/admin-page/js/jquery.min.js"></script>
<script src="/admin-page/js/jquery-ui.min.js"></script>
<script src="/admin-page/js/bootstrap.bundle.min.js"></script>
<script src="/admin-page/js/perfect-scrollbar.min.js"></script>
<script src="/admin-page/js/jquery.sparkline.min.js"></script>
<script src="/admin-page/js/raphael.min.js"></script>
<script src="/admin-page/js/morris.min.js"></script>
<script src="/admin-page/js/select2.min.js"></script>
<script src="/admin-page/js/jquery-jvectormap.min.js"></script>
<script src="/admin-page/js/jquery-jvectormap-world-mill.min.js"></script>
<script src="/admin-page/js/horizontal-timeline.min.js"></script>
<script src="/admin-page/js/jquery.validate.min.js"></script>
<script src="/admin-page/js/jquery.steps.min.js"></script>
<script src="/admin-page/js/ion.rangeSlider.min.js"></script>
<script src="/admin-page/js/datatables.min.js"></script>
<script src="/admin-page/js/main.js"></script>
<script src="/admin-page/js/chart.js"></script>
<script src="/admin-page/js/moment.min.js"></script>
<script type="text/javascript" src="/admin-page/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/admin-page/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/admin-page/js/demo.js"></script>

<!-- Page Level Scripts -->

</body>
</html>
